CRUD_PatronMVVM/CRUD.Model/Connected Services/EmployeeService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59287/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59287/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59287/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TareaWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmployeeMasive_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeMasive" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmployeeMasive_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeMasiveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertEmployee" message="tns:IService1_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertEmployeeResponse" message="tns:IService1_InsertEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllEmployee" message="tns:IService1_GetAllEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllEmployeeResponse" message="tns:IService1_GetAllEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmployee" message="tns:IService1_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeResponse" message="tns:IService1_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateEmployee" message="tns:IService1_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateEmployeeResponse" message="tns:IService1_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployeeMasive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertEmployeeMasive" message="tns:IService1_InsertEmployeeMasive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertEmployeeMasiveResponse" message="tns:IService1_InsertEmployeeMasive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployeeMasive">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertEmployeeMasive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:59287/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>